/*
** Stylesheet for the SPARC Class Selection Feature
** 4/20/14
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,600,700);

// SCSS Variables

$blue: #9fbecb;
$drkblue: #708d9a;
$white: #e4f3f3;
$orange: #f7c9a7;
$green: #d1e7c2;
/*
**----------------------------------------------------
**	GLOBAL ELEMENTES, TYPOGRAPHY, & CONTAINERS
**----------------------------------------------------
*/
* {
	margin: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	//outline: 1px solid lightgrey;
}
body {
	font-size: 16px;
	font-weight: 200;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background-color: lighten($blue, 20%);
}
a {
	text-decoration: none;
	color: $drkblue;
	&:hover {
		color: darken($orange, 50%);
	}
}
p {
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Adelle Basic', 'adelle', serif;
	font-weight: bold;
}
small {
	display: block;
}

#Container {
	width: 80%;
	margin: 0 auto;
	max-width: 960px;
	background-color: #fff;
	overflow: auto;
	padding: 0 10px;
	border-left: 1px solid darken($blue, 5%);
	border-right: 1px solid darken($blue, 5%);
	border-bottom: 1px solid darken($blue, 5%);
}

.page-title {
	//border-top: 3px solid $orange;
	border-bottom: 3px solid $orange;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 15px;
	color: darken($orange, 40%);
}

/*
**----------------------------------------------------
**	FORM ELEMENTS
**----------------------------------------------------
*/
input[type="checkbox"] {
	//visibility: hidden;
}
input[type="text"],
input[type="search"],
input[type="submit"],
input[type="password"] {
	border: 1px solid $drkblue;
	padding: .4em;
}
input[value="Go"] {
	background-color: $drkblue;
	width: 4em;
	color: #fff;
	text-transform: uppercase;
}
form {
	.filter {
		padding: 1em 0;
		label {
			font-weight: bold;
		}
	}
	.filter1 {
		width: 100%;
	}

	.filter2 {
		width: 50%;
		float: left;
	}
}

form[action="submit"] {
	clear: both;
	overflow: auto;
	background-color: $green;
	border: 1px solid darken($green, 20%);
	padding: 10px;
	font-weight: 700;
	h3 {
		padding: 10px 0;
		border-bottom: 2px solid darken($green, 50%);
		color: darken($green, 50%);
		margin-bottom: 20px;
	}
	input[type="text"] {
		margin-bottom: 10px;
	}
	input[type="select"] {
		margin-bottom: 10px;
	}
	input[type="submit"] {
		background-color: $blue;
		width: 100%;
		font-size: 1.6em;
		margin-top: 20px;
		color: darken($drkblue, 30%);
		&:hover {
			background-color: lighten($blue, 10%);
		}
	}
}
.cardinfo {
	width: 49%;
	background-color: lighten($green, 10%);
	padding: 20px;
	float: left;
	border: 1px solid darken($green, 20%);
	&:first-of-type {
		margin-right: 2%;
	}
	label {
		font-weight: 700;
		font-size: 1.2em;
		color: darken($green, 50%);
	}
	input[type="radio"] {
		margin-right: 10px;
	}
}
/*
**----------------------------------------------------
**	HEADER
**----------------------------------------------------
*/
header {
	padding: 2% 0;
	overflow: auto;
	.row {
		border-bottom: 1px solid ligten($blue, 20%);
		height: 50px;
		a {
			padding-right: 4%;
			display: inline-block;
			float: left;
		}
		.search {
			display: inline-block;
			width: 25%;
			float: right;
			input[type="text"] {
				width: 80%;
				display: inline;
			}
			input[type="submit"] {
				width: 18%;
				display: inline;
			}
		}
	}
	.header-row {
		clear: both;
		margin-bottom: 20px;
		height:140px;
	}
	#Branding {
		clear: both;
		position: relative;
		margin-right: 1%;
		width: 39%;
		float: left;
		height: 140px;
		background-color: lighten($blue, 20%);
		border: 1px solid $blue;

		img {
			position: absolute;
			bottom: 0;
			right: 10px;
		}
		h1 {
			font-size: 2em;
			padding: 0 2%;
			z-index: 10;
			display: block;
			float: left;
			color: darken($blue, 40%);
			position: relative;
			z-index: 1;
		}
	}
	#Login {
		width: 60%;
		float: left;
		background-color: lighten($green, 10%);
		overflow: hidden;
		border: 1px solid darken($green, 40%);
		height: 140px;
		padding: 2%;
		position: relative;
		input[value="Log Out"] {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		.account-button {
			display: inline-block;
			width: 22%;
			text-align: center;
			color: darken($green, 40%);
			border: 1px solid darken($green, 40%);
			height: 75px;
			padding-top: 5px;
			small {
				font-size: .8em;
			}
			&:hover {
				background-color: lighten($green, 15%);
			}
		}
		h3 {
			color: darken($green, 50%);
			padding-bottom: 10px;
		}
		input {
			font-size: .8em;
		}
		input[type="submit"] {
			background-color: $green;
			border: 1px solid darken($green, 40%);
		}
		small {
			font-size: 1em;
			margin-top: 13px;
			a {
				color: darken($green, 50%);
				text-decoration: underline;
				&:hover {
					color: darken($orange, 20%);
				}
			}
		}
	}
	nav {
		clear: both;
		border-top: 1px solid $drkblue;
		border-bottom: 1px solid $drkblue;
		padding: 10px 0;
		width: 100%;
		display: block;
		a {
			margin-right: 2%;
		}
	}
}

/*
**----------------------------------------------------
**	LIST OF CLASSES
**----------------------------------------------------
*/

.class-category {
	border: 1px solid $drkblue;
	background-color: lighten($blue, 25%);
	height: 200px;
	width: 32%;
	margin-bottom: 30px;
	margin-right: 2%;
	float: left;
	font-size: 1.2em;
	line-height: 1.2em;
	overflow: hidden;
	position: relative;
	&:hover {
		background-color: $green;
		border: 1px solid darken($green, 60%);
		color: darken($green, 60%);

		img {
			border-top: 1px solid darken($green, 60%);
		}
	}
	&:nth-of-type(3n+0) {
		margin-right: 0;
	}
	p {
		padding: 10px 0 0 10px;
	}
	img {
		width: 100%;
		position: absolute;
		top: 65px;
		border-top: 1px solid $drkblue;
	}
}

/*
**----------------------------------------------------
**	FOOTER
**----------------------------------------------------
*/

footer {
	clear: both;
	padding-bottom: 30px;
	.row {
		padding-top: 10px;
		width: 100%;
		clear: both;
		border-top: 1px solid lighten($blue, 20%);
		small {
			display: inline-block;
		}
		a {
			display: inline-block;
			float: right;
			padding-left: 2%;
			padding-bottom: 5px;
		}
		.footer-column {
			width: 25%;
			float: left;
			a {
				display: block;
				width: 100%;
				float: left;
				text-align: left;
			}
		}
	}
}

/*
**----------------------------------------------------
**	CLASSES
**----------------------------------------------------
*/

.search-catalog {
	width: 100%;
	background-color: lighten($orange, 10%);
	border: $orange;
	height: 120px;
	overflow: auto;
	padding: 2%;
	border: 1px solid $orange;
	margin-bottom: 20px;
	color: darken($orange, 40%);
	h3 {
		margin-bottom: 10px;
	}
	input[type="text"] {
		border: 1px solid $orange;
		width: 50%;
	}
	input[value="Search Course Catalog"] {
		border: 1px solid darken($orange, 40%);
		background-color: darken($orange, 20%);
		color: darken($orange, 55%);
		padding-left: 2em;
		padding-right: 2em;
	}
}

/*
**----------------------------------------------------
**	COURSE LIST
**----------------------------------------------------
*/
#Courses {
  width: 28%;
  float: left;
  margin-right: 2%;
  border: 1px solid darken($drkblue, 40%);
  }
  #Courses h3 {
    padding: 3% 2% 1% 2%;
    background-color: #708d9a;
    color: darken($drkblue, 40%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .08em;
    border-bottom: 1px solid darken($drkblue, 40%);
    //border-top-right-radius: 6px;
    //border-top-left-radius: 6px;
}
  #Courses ul li {
    border-bottom: 1px solid #708d9a;
    background-color: #e8ecee;
    list-style: none;
    padding: 2% 0 2% 10px; }
    #Courses ul li:last-of-type {
      border-bottom: none; }
    #Courses ul li .subclasses li {
      background-color: #fff; }

#CourseShortcut {
  display: none; }

#Return {
  display: none; }


 /*
**----------------------------------------------------
**	LIST OF CLASSES
**----------------------------------------------------
*/
#Classes {
  width: 70%;
  float: right; }
  #Classes p {
    margin-top: 1em; }
  #Classes section:nth-of-type(even) {
    padding: 3%;
    margin-bottom: 10px;
    background-color: #e4f3f3;
    border: 1px solid $drkblue;
    color: darken($drkblue, 20%); }
    #Classes section:nth-of-type(even) .more {
      background-color: #708d9a;
      padding: 2%;
      display: block;
      width: 25%;
      text-align: center;
      color: #fff;
      text-decoration: none;
      border: 1px solid $drkblue; }
      #Classes section:nth-of-type(even) .more:hover {
        background-color: #ffc89f;
        border: 1px solid darken($orange, 20%); }
  #Classes section:nth-of-type(odd) {
    background-color: #f2f8ee;
    border: 1px solid darken($green, 30%);
    color: darken($green, 60%);
    padding: 3%;
    margin-bottom: 10px; }
    #Classes section:nth-of-type(odd) .more {
      background-color: #9aca79;
      padding: 2%;
      display: block;
      width: 25%;
      text-align: center;
      border: 1px solid darken($green, 30%);
      color: #fff;
      text-decoration: none; }
      #Classes section:nth-of-type(odd) .more:hover {
        background-color: #ffc89f;
    	border: 1px solid darken($orange, 20%);}

.reveal {
  display: normal; }

@media screen and (max-width: 1024px) {
  #Container {
    width: 100%;
    padding: 1em; }

  #Instructions img {
    left: 36%; }
  #Instructions h3 {
    margin-top: 3em; } }
@media screen and (max-width: 480px) {
  #Instructions img {
    left: 30%; }

  body {
    font-size: 20px; }

  #CourseShortcut {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #9fbecb;
    background-color: #525151;
    color: #fff; }

  #Return {
    display: block; }

  #Container,
  #Courses,
  #Classes {
    width: 100%; }

  #Courses h3 {
    text-align: center; }

  #Classes {
    margin-top: .5em; }
    #Classes section {
      margin-top: .2em; }
      #Classes section .more {
        width: 50%; } }
/*
**----------------------------------------------------
**	LIST OF CLASSES
**----------------------------------------------------
*/
.info {
	img {
		width: 35%;
		float: left;
		margin-right: 1%;
		border: 1px solid lighten($blue, 3%);
	}
	small {
		margin-bottom: 20px;
		border-bottom: 2px solid lighten($blue, 3%);
		padding-bottom: 10px;
	}
	.text {
		width: 64%;
		float: left;
	}
}

/*
**----------------------------------------------------
**	REGISTER FORM
**----------------------------------------------------
*/
.form-total {
	border: 1px solid $blue;
}
.form-name,
.form-gender,
.form-birthday,
.form-login-info,
 {
	background-color: lighten($blue, 25%);
	padding: 10px 0 0 20px;
	input[type="text"] {
		margin-bottom: 5px;
	}
	h4 {
		padding: 10px 0 10px 0;
		margin-bottom: 20px;
		border-bottom: 1px solid $blue;
		color: darken($blue, 20%);
	}
}

input[type="radio"] {
	margin-left: 10px;
	padding-right: 5px;
}

.additional-member {
	background-color: lighten($green, 10%);
	border: 1px solid $green;
	padding: 10px 0 10px 20px;
	margin-bottom: 20px;
	input[type="text"] {
		margin-bottom: 5px;
		border: 1px solid $green;
	}
}

.add-family {
	padding: 20px 0 10px 0;
	color: darken($green, 40%);
	border-bottom: 3px solid $green;
	margin-bottom: 20px;
}

.create-account {
	margin-bottom: 20px;
	width: 100%;
	font-size: 1.4em;
	background-color: $orange;
	color: darken($orange, 50%);
	border: 1px solid darken($orange, 50%) !important ;
	&:hover {
		background-color: $drkblue;
		color: white;
		border: 1px darken($drkblue, 100%) !important ;
	}
}

/*
**----------------------------------------------------
**	HOMEPAGE
**----------------------------------------------------
*/
.homepage-hero {
	height: 470px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	background-image: url(../img/hero_ace.jpg);
	background-size: 100%;
	padding: 200px 0 0 20px;
	h2 {
		font-size: 2em;
	}
	p {
		padding-bottom: 20px;
		font-size: 1.6em;
	}
	a {
		text-shadow: none;
		background-color: $white;
		border: 1px solid darken($white, 40%);
		font-size: 1.2em;
		padding: 20px;
		color: darken($white, 40%);
		margin-top: 20px;
		&:hover {
			color: darken($orange, 40%);
			border: 1px solid darken($orange, 40%);
			background-color: lighten($orange, 40%);
		}
	}
}
.homepage-calendar {
	width: 33%;
	float: left;
	overflow: visible;
	img {
		width: 99%;
	}
}
.homepage-heading {
	margin: 20px 0 10px 0;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	padding: 10px 0 5px 0;
	color: darken($blue, 20%);
}
.homepage-module {
	width: 65%;
	float: left;
	margin-left: 2%;
	background-color: lighten($blue, 25%);
	padding: 10px;
	margin-bottom: 20px;
	font-size: .95em;
	h4 {
		color: darken($orange, 50%);
	}
	ul {
		list-style: none;
	}
	a {
		color: darken($blue, 30%);
		&:hover {
			color: darken($orange, 40%);
			text-decoration: underline;
		}
	}
}

/*
**----------------------------------------------------
**	RESPONSIVE
**----------------------------------------------------
*/

@media screen and (max-width: 890px) {
	.homepage-hero {
		background-size: 1000px;
	}
	header #Branding,
	header #Login {
		width: 100%;
		margin-top: 10px;
		font-size: 1em;
	}
	header #Login input[type="submit"] {
		width: 100%;
		display: block;
		height: auto;
		position: static;
	}

	header #Branding h1 {
		font-size: 1.2em;
	}
	header #Login h3 {
		font-size: 1em;
	}
	header nav {
		margin-top: 10px;
	}
	.homepage-hero,
	.homepage-module,
	.homepage-calendar {
		width: 100%;
		margin: 0 auto;
	}
	header #Login {
		height: auto;
	}
	header #Login .account-button {
		clear: both;
		width: 100%;
		height: auto;
	}
	header .row .search {
		width: 100% ;
		display: block;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	footer .row a {
		width: 100%;
	}
	.info img,
	.info .text,
	.cardinfo {
		width: 100%;
	}
}